extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/new")
    button(class="btn btn-primary mb-3") New message
  
  ul
    each message in messages
      li(class="border border-secondary rounded mb-3 p-2 message")
        p(class="mb-3")= message.text
        p(class="mb-0")= message.user
        p(class="mb-0 text-muted")= message.added